/*
 * 
 * 		22/07/2018 - joshrayman new layout
 * 			
 */
 @import url('https://fonts.googleapis.com/css?family=Nunito:200');
 
html, body {
	height: 99%;
}
 
body {
	color: #555;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 1.3em;
}

h1, h2, h3, h4, h5 {
	font-weight: 600;
}

h1 {
	line-height: 1.3em;
	font-size: 1.8em;
	margin: 0;
}

body {
	width: calc(100% - 70px);
	position: relative;
	left: 50px;
}

ul {
	padding-left: 10px;
}

#content-wrap,
header {
	margin: 0;
	width: 95%;
	max-width: 600px;
}

#content {
	padding: 2.5%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
 background-image: linear-gradient(
      to right, 
      #7294D4,
      #7294D4 10px,
      #a3a5c3 10px,
      #a3a5c3 20px,
       #E6A0C4  20px,
       #E6A0C4  30px,
			 #fafafa  30px
    );
}

.entry a > img {
	width: 100%;
	max-width: 320px;
	transition: opacity 0.5s;
	margin: 8px auto 0;
	display: block;
}

.entry a > img:hover {
	opacity: 0.75;
}

main section {
		width: 44%;
    padding: 0 2%;
    display: inline-block;
    vertical-align: top;
}

details {
		cursor: pointer;
		padding: 5px;
}

@media (max-width: 600px) {
	main section {
		width: 100%;
	}
}

#title {
	position: fixed;
	bottom: 10px;	
	right: 20px;
	opacity: 0.1;
	pointer-events: none;
}

@media (max-width: 700px) {
	#title {
		display: none;
	}
}

a {
	color: #009;
}

a:visited {
	color: #009;
}

a:hover {
	color: #99cdff;
}

#links {
	float: right;
	position: absolute;
	bottom: 60px;	
	right: 20%;
}

.tag {
	background-color: #99ccff;
	color: #111;
	padding: 2px 10px;
	margin: 10px 2.5px;
	display: inline-block;
}

hr {
	opacity: 0;
	padding: 20px;
}

img {
	max-width: 100%;
}

.profile { 
	float: right;
	width: 80px;
	max-width: 25%;
	padding: 0 10px;
}

.ci {
	border-radius: 50%;
}

.section {
	width: 30%;
	padding: 0 1.25%;
}

.desc {
	clear: both;
}

.project {
	margin: 50px 10px;
}

.top {
	margin-top: 0;
}

header a {
    padding: 0 10px 0 0;
}

.about img {
	display: inline-block;
	width: 49%;
}

#contact-link {
	float: right;
}

.date { 
	font-style: italic;
	margin-bottom: 5px;
	font-size: 0.8em;
}