/*
 * 
 * 		3/11/2019 - portfolio layout
 * 			
 */
/*
	$color1: rgba(35, 240, 199, 1);
	$color2: rgba(239, 118, 122, 1);
	$color3: rgba(125, 122, 188, 1);
	$color4: rgba(100, 87, 166, 1);
	$color5: rgba(255, 227, 71, 1);
*/
html {    
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	background: rgba(100, 87, 166, 1);
}

body {
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	margin: 10px 20px;
	line-height: 1.5;
}

a {
	color: rgba(239, 118, 122, 1);
}

a:focus,
a:active,
a:visited {
	color: rgba(100, 87, 166, 1);
}

a:hover {
	color: rgba(35, 240, 199, 1)
}

span {
	display: inline-block;
}

span,
li {
	background: #fff;
	padding: 4px;
}

ul {
	padding: 0;
}

li {
	margin: 4px;
	list-style: none;
	max-width: 500px;
}

p {
	background: #fff;
	max-width: 600px;
	padding: 4px;
	line-height: 1.5;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.section {
	padding: 0.5em 0;
}

.section:nth-of-type(2n + 1) {
	border: solid 25px;
	border-color: rgba(100, 87, 166, 1);
	border-left: 0;
	border-right: 0;
	background: #fff;
}

.section:nth-of-type(2n) {
	border: solid 25px;
	border-color: rgba(239, 118, 122, 1);
	border-left: 0;
	border-right: 0;
	background: #fff;
}

.content {
	width: calc(100% - 40px);
	margin: 10px;
	padding: 10px;
}

img {
	width: 85%;
	max-width: 550px;
	margin: 20px;
	display: block;
}

.pictures {
	display: flex;
	align-content: center;
}

.pictures img {
	display: inline-block;
	vertical-align: top;
	object-fit: contain;
}

@media (max-width: 600px) {
	.pictures {
		display: block;
	}

	.pictures img {
		max-width: 550px;
		min-width: 250px;
	}
}

#contact {
	display: inline-block;
}

#contact a {
	padding: 0 4px;
	margin: 0 8px;
	background: #fff;
}

#contact p {
	margin: 20px;
}

img.gif {
	max-width: 250px;
}

.top {
	background-color: rgba(100, 87, 166, 1);
}

.three-img {
	display: flex;
	flex-wrap: wrap;
}

.three-img img {
	max-width: 40%;
	object-fit: contain;
	min-width: 250px;
	margin: 0 auto;
	flex: 1;
}

.nav {
	padding: 1em;
	font-size: 1.25em;
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	-webkit-appearance: none;
	border: 0.25em solid rgba(35, 240, 199, 1);
	margin: 0 1em;
}

@media (max-width: 600px) {
	.nav {
		font-size: 1em;
		max-width: 575px;
	}
}

@media (max-width: 480px) {
	.nav {
		font-size: 1em;
		max-width: 275px;
	}
}

.nav-label {
	margin: 0 0 0 1em;
}